
h1 {
   text-align:left;
   margin-top: 0;
   margin-left: 0px;
   margin-right: 30px;
}

h6 {
  margin-top: 0;
  margin-left: 0px;
  font-size: 40%;
}

h5 {
  text-align: right;
}

#logo {
  margin-top: : auto;
  margin-left: 0px;
  border: 10px;
  align:left;
  display: block;
  padding-top:5px;
  padding-left: 30px;
}

#delicious {
  font-family:'Lobster', cursive;
  margin-top: 0;
  margin-bottom: 0;
}

#right {
  text-align: right;
  border-right:200px;
}

#left {
  text-align: left;
  margin-left: 20px;
}

#title {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 10px;
  /*float:right;*/
  font-family: 'Domine', serif;
  padding :0px;

}

#note {
  margin-top: 0px;
  margin-left: 25px;
  text-align: left;
  /*position: relative;*/
}

#border {
  width:100%;
  align:center;
}

#printer {
  margin-top: 25px;
  padding-left: 30px;
  align: right;
  display: block;
  float: right;
}

#chocopizza {
  width:90%;
  height:90%;
  padding:0;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#text {
  text-indent: 2em;
  margin-left: 30px;
  margin-right: 90px;
}

form {
  background-image: url("../lab-assets/list-bg.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 92% 90%;
  /*font-family: "Comic Sans MS", cursive;*/
  /*padding: 30px 30px 30px 30px;*/
  /*margin-top: 30px;*/
  margin-left: 30px;
  font-size: 20px;
  width: 500px;
  height:200px;
  height: 270px;
  /*font-family: 'Patrick Hand', cursive;*/
  font-size: 24px;
  color: gray;
  padding: 35px 0 0 70px;
}

#form-left {
  width: 50%;
  float: left;
}

#form-right {
  width: 50%;
  float: right;
}

#profilepic {
 margin-top: 20px;
 margin-left: 40px;
}

#foot_tag {
  text-align: center;
}

button{
  background-color: #f47142;
  font-size:20px;
  text-align: center;
}

#footer {
  margin-bottom: 20px;
}

#smalllogo {
  /*text-align:center;
  display: block;*/
  /*margin-top: 50px;*/
  float: right;
}

#smallborder {
  padding-bottom: 10px;
  border: none;
  border-top: medium solid #e0dcdc;
  text-align: center;
  z-index: 8;
}

.row,
.column {
  box-sizing: border-box;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear:both;
}

.column {
  position: relative;
  float: left;
}

/*one column is 8.33% wide*/

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%
}

.col-5 {
  width: 41.65%
}

.col-6 {
  width: 49.98%
}

.col-7 {
  width: 58.3%
}

.col-8 {
  width: 66.66%
}

.col-9 {
  width: 74.97%
}

.col-10 {
  width: 83.3%
}

.col-11 {
  width: 91.66%
}

.col-12 {
  width: 100%
}
