h1{
   text-align:left;
   }
   h6{
     margin-top: 0;
   }
   #list{
     width:100%;
     margin: auto;
   }
   #border{
     width:100%;
   }
   #right{
     text-align: right;
   }
   #title{
     text-align:left;
     margin-bottom: 10px;
     float:left;
     font-family: 'Domine', serif;
   }
   #foot_tag{
     text-align: center;
   }

#logo{
  margin-top: : 200px;
  margin-right: 10px;

}
#delicious{
  font-family:'Lobster', cursive;
  margin-top: 0;
  margin-bottom: 0;
}
#chocopizza {
  width:100%;
  height:100%;
  padding:0;
  border:0;
  margin:auto;
}
button{
  background-color: #f47142;
  font-size:20px;
  text-align: center;
}

.row::before,
.row::after {
  content: "";
}

row::after {
  clear:both;
}

.column {
  position: relative;
  float: left;
}

col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.3%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
